.wordle {
  width: 24em;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}


.line {
  display: flex;
  gap: 0.4em;
}


.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 800;
  border: 2px solid transparent;
}

.tile.correct {
  background-color: rgba(0, 255, 0, 0.3);
}

.tile.misplaced {
  background-color: rgba(255, 255, 0, 0.3);
}

.tile.wrong {
  background-color: rgba(128,128,128, 0.5);
}

.tile.empty {
  background-color: transparent;
  border: 2px solid currentColor;
  border-color: color-mix(in srgb, currentColor 50%, transparent);
}


.keyboard {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.keyboard-row {
  display: flex;
  gap: 0.3em;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 0.3em;
  padding: 0.8em 0;
  width: 2em;
  cursor: pointer;
}

.key.correct {
  background-color: rgba(0, 255, 0, 0.3);
}

.key.misplaced {
  background-color: rgba(255, 255, 0, 0.3);
}

.key.wrong {
  background-color: rgba(128,128,128, 0.4);
}

.key.empty {
  background-color: rgba(128,128,128, 0.8);
}

.key.enter {
  order: -1;
  width: 3.5em;
}
.key.enter span {
  font-size: 0.6em;
}

.key.backspace {
  width: 3.5em;
}
